body {
    background-color: #f8faf8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #343a40;
    font-weight: bold;
}

h2 {
    color: #bd3553;
    font-size: medium;
}

h3 {
    color: #bd3553;
    font-size: smaller;
}

#readback {
    color: #6f4cc1;
    font-size: medium;
}

.btn-group-toggle .btn {
    width: 140px;
    height: 140px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 10px;
}

.button-img {
    width: 120px;
    height: 100px;
    margin-bottom: 10px;
}

input[type="radio"] {
    display: none;
}

.form-group {
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
}

#reported-issues {
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
}